
@define-color bg0_h           #111111; /* paling gelap */
@define-color bg0             #1a1a1a;
@define-color bg1             #222222;
@define-color bg2             #2a2a2a;
@define-color bg3             #333333;
@define-color bg4             #3d3d3d;

@define-color gray            #777777;
@define-color fg4             #aaaaaa;
@define-color fg3             #bbbbbb;
@define-color fg2             #cccccc;
@define-color fg1             #dddddd;
@define-color fg0             #eeeeee;

@define-color red             #888888; /* netral abu-abu, bukan merah */
@define-color bright_red      #aaaaaa;
@define-color green           #999999;
@define-color bright_green    #bbbbbb;
@define-color yellow          #aaaaaa;
@define-color bright_yellow   #cccccc;
@define-color blue            #aaaaaa;
@define-color bright_blue     #cccccc;
@define-color purple          #aaaaaa;
@define-color bright_purple   #cccccc;
@define-color aqua            #aaaaaa;
@define-color bright_aqua     #cccccc;
@define-color orange          #aaaaaa;
@define-color bright_orange   #cccccc;

@define-color white           #f5f5f5;
@define-color black           #000000;

/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */
@define-color shadow          shade(@bg0_h, 0.5);
@define-color main-fg         @fg0;
@define-color main-bg         @bg0_h;
@define-color main-br         @fg2;

@define-color active-bg       #333333;
@define-color active-fg       @fg0;

@define-color hover-bg        #444444;
@define-color hover-fg        @fg1;

/* Module Colors */
@define-color module-fg       @fg0;
@define-color workspaces      @bg0;

@define-color temperature     @bg0;
@define-color memory          @bg1;
@define-color cpu             @bg2;
@define-color distro-fg       @fg0;
@define-color distro-bg       @bg1;
@define-color time            @bg2;
@define-color date            @bg1;
@define-color tray            @bg0;

@define-color pulseaudio      @bg0;
@define-color backlight       @bg1;
@define-color battery         @bg2;
@define-color power           #444444;

/* State Colors */
@define-color warning         #888888;
@define-color critical        #aaaaaa;
@define-color charging        #cccccc;
