@define-color bg0_h           #0a0a0a;
@define-color bg0             #111111;
@define-color bg1             #1a1a1a;
@define-color bg2             #222222;
@define-color bg3             #2b2b2b;
@define-color bg4             #333333;
@define-color gray            #555555;

@define-color fg4             #aaaaaa;
@define-color fg3             #bbbbbb;
@define-color fg2             #cccccc;
@define-color fg1             #dddddd;
@define-color fg0             #eeeeee;

/* Crimson Palette */
@define-color red             #dc143c;  /* Crimson */
@define-color bright_red      #ff0033;  /* Bright Crimson */
@define-color green           #228b22;
@define-color bright_green    #32cd32;
@define-color yellow          #ffcc00;
@define-color bright_yellow   #ffd633;
@define-color blue            #1e90ff;
@define-color bright_blue     #3399ff;
@define-color purple          #8a2be2;
@define-color bright_purple   #a64dff;
@define-color aqua            #20b2aa;
@define-color bright_aqua     #40e0d0;
@define-color orange          #ff6600;
@define-color bright_orange   #ff8533;

@define-color white           #ffffff;
@define-color black           #000000;

/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */
@define-color shadow          shade(@bg0_h, 0.5);
@define-color main-fg         @white;
@define-color main-bg         @bg0_h;
@define-color main-br         @red;

@define-color active-bg       @red;
@define-color active-fg       @black;

@define-color hover-bg        @bg3;
@define-color hover-fg        @red;

/* Module Colors */
@define-color module-fg       @white;
@define-color workspaces      @bg1;

@define-color temperature     @bg2;
@define-color memory          @bg2;
@define-color cpu             @bg2;
@define-color distro-fg       @black;
@define-color distro-bg       @red;
@define-color time            @bg2;
@define-color date            @bg1;
@define-color tray            @bg0;

@define-color pulseaudio      @bg1;
@define-color backlight       @bg1;
@define-color battery         @bg2;
@define-color power           @red;

/* State Colors */
@define-color warning         @orange;
@define-color critical        @bright_red;
@define-color charging        @bright_green;
